docs/ptk_api_guide
docs/ptk_algo_guide
concerto/
lib/
out/
*.asv
.*swp
*.sdf
*.VC.db
*.opensdf
*.opendb
*.suo
*.pdb
*.ilk
*.exe
ipch/
*.user
*.cproject
*.project
.settings/
.xdchelp
*Release/
*Debug/
.config/
.launches/
.metadata/
RemoteSystemsTempFiles/
targetConfigs/
upp/
dvt/
x64/
